<%= link_to new_room_path do %>
  <h1>Create a room</h1>
<% end %>
<br>
<% if @rooms.present? %>
  <% @rooms.each do |room| %>
  <%= link_to room.name, room_path(room) %><br>
<% end %>
<br>
<% else %>
  The are no rooms
<% end %>